*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background-color: transparent;
	border: none;
	font-family: var(--base-font-family);
	font-size: 1rem;
	cursor: pointer;

	@include focus-visible {
		outline: 2px solid var(--c-blue);
		outline-offset: 2px;
	}
}
